body {
    margin: 0;
}

h1 {
    text-align: center;
}

img {
   display: block; 
   margin: 0 auto;
   padding: 10px;
   background: #000;
   animation: fade 10s;
}

footer {
    text-align: center;
    margin: 0 auto;
}


@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }
}