@media only screen and (min-width: 39rem) {
}

    /*Limit the overall page */
    main {
      max-width: 1200px;
      margin: 0 auto;
    }
  
    header {
      display: grid;
      
    }
    .headings h1 {
        font-weight:bolder;
        font-size: 2rem;
    }
  
  
    #hamburgerBtn {
          display: none; /* hide hamburger button */
      }
  
      .primaryNav {
          flex-direction: row;
      }
  
      .primaryNav li {
          display: block;
          flex: 1 1 100%;
      }
  
    main {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 30px;
    }
    .w {
      grid-column: 1/3;
    }
  
    #forecast {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      
    }
  
    main h1.home-title {
      margin-top: 50px;
      padding: 10px;
    }
    main .button-box {
      /* float:inline-start; */
      /* position: sticky; */
      margin-right: 500px;
  
    }
  
    #spot {
      grid-column: 1/4;
      grid-row: 4;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }
  
    .logo {
      grid-column: 1/3;
    }
    nav ul li a {
        padding: 1rem 2rem;
        color: var(--headline-color-on-color);
        justify-content: space-around;
        font-size: 1.3rem;
        border-top: none;
    }
    nav {
        display: contents;
    }
    .social {
      grid-column: 6/7;
      position: absolute;
      top: 20px;
      right: 20px;
    }
  
  
    
    ul#primaryNav {
      display: flex;
      margin-block: 2vw;
    }
  
    header {
      font-size: 1.3rem;
      display: flex;
    }
    /* ********************************************** */
    
      #hero {
        grid-column: 1/4;
        grid-row: 1 / span 2;
        display: grid;
        grid-template-columns: 1fr 1fr;
      }
      #hero-box {
        grid-column: 1/3;
        grid-row: 1;
      }
      main figure.hero {
        height: 100%;
      }
      main figure.hero img {
        height: 100%;
      }
      #hero-msg {
        grid-column: 1/3;
        grid-row: 1;
        margin-top: 0;
        box-shadow: none;
      }
      
    
    
      /* ******************************************* */
      footer {
        display: grid;
        grid-template-columns: 0.7fr 1fr 2fr;
        margin: 0 auto;
        padding: 0;
        justify-content: center;
        background-color: var(--primary-color);
      }
      /* .f-logo {
        grid-column: 1/2;
        margin-left: 100px;
      } */
      .ikoyi {
        grid-column: 2/4;
        display: block;
        text-align: left;
      }
      .info {
        grid-column: 4/6;
        margin-right: 100px;
      }
      .base {
        grid-column: 1/6;
        grid-row: 2;
        display: flex;
        align-items: baseline;
        justify-content: space-around;
      }
      .sub-base {
        display: contents;
      }
      hr {
        display: none;
      }
      /* ******************* Discover *************************************** */
    
      /* hover effect */
      .hover:hover {
        opacity: 0.95;
        transform: scale(1.1);
      }
  
      main.discover {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
      }
      main.discover div.demo {      
        grid-column: 1/4;
        grid-row: 2;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
        /* grid-template-columns: repeat(2, 1fr); */
      }
      main.discover .demo h1 {
        grid-column: 1/3;
        text-align: center;
      }
      main.discover .demo p {
        grid-column: 1/2;
        grid-row: 2;
      }
      main.discover .demo figure {
        grid-column: 2/3;
        grid-row: 2;
      }
      main.discover .demo figure img {
        width: 500px;
      }
      main.discover div.demo1 {
        grid-column: 1/3;
        grid-row: 3;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
      }
      main.discover .demo1 h1 {
        grid-column: 1/3;
        text-align: center;
      }
      main.discover .demo1 p {
        grid-column: 1/2;
        grid-row: 2;
      }
      main.discover .demo1 figure {
        grid-column: 2/3;
        grid-row: 2;
      }
      main.discover div.demo2 {
        grid-column: 1/3;
        grid-row: 4;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
      }
      main.discover .demo2 h1 {
        grid-column: 1/3;
        text-align: center;
      }
      main.discover .demo2 p {
        grid-column: 1/2;
        grid-row: 2;
      }
      main.discover .demo2 figure {
        grid-column: 2/3;
        grid-row: 2;
      }
      main.discover div.img {
        grid-column: 1/3;
        grid-row: 5;
        width: auto;
        margin: 0;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 30px;
      }
      main.discover figure .hover {
        transition: transform 0.5s;
        box-shadow: 5px 5px 10px #6f7364;
      }
    
      section.mosaic {
        grid-column: 1/3;
        grid-row: 6;
        display: block;
        position: relative;
        width: 90%;
        height: auto;
        margin-bottom: 40px;
        
      }
    
      .mosaic img {
        grid-column: 1/3;
        width: 100%;
        margin: 0 0 20px 0;
        height: 450px;
      }
    
      .pic {
        background: #fff;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-gap: 7px;
        mix-blend-mode: lighten; /* try darken and overlay */
        position: absolute;
        top: 0;
        width: 100%;
        height: 500px;
      }
      .pic div {
        background: #000;
        height: 23.5vw;
        max-height: 640px;
      }
    
      .pic div:nth-of-type(3),
      .pic div:nth-of-type(8),
      .pic div:nth-of-type(13) {
        grid-column: 3/5;
      }
      form label.sbs {
        padding: 0.4rem 0;
      }
      #visits {
        color: #7d6e83;
        font-weight: bolder;
        font-size: larger;
      }
      .label {
        grid-column: 1/3;
        /* grid-row: 1; */
      }
  
      form label.sbs {
        padding: 0.4rem 0;
      }
      main.join {
        display: block;
        align-items: center;
      }
  
      /* ---------- directory -------- */
  
      main.directory{
        display: block;
      }
      main.directory div.grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        font-size: 0.8rem;
        width: 100%;
        grid-gap: 50px;
        /* align-items: center; */
        /* margin: 0 auto; */
        /* justify-content: space-around; */
      }
    