
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    max-width: 1000px;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: auto;
    line-height: 2em;
    background-color: #fff;
    font-size: 20px;
  }
  
  header {
    background-color: darksalmon;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* grid-gap: 50px; */
    padding: 25px 25px;
    box-shadow: 5px 5px 10px #6f7364;
    border-radius: 0.6em;
    margin-top: 25px;
    text-shadow: 5px 5px 10px #6f7364;
    justify-content: space-around;
  }
  /*header img {
    width: 200px;
    box-shadow: 5px 5px 10px #6f7364;
    grid-column: 1;
  } */
  #mode {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 3rem;
    cursor: pointer;
    font-size: 2rem;
  }
  h1 {
    font-size: 35px;
    grid-column: 2/5;
    grid-row: 1;
    text-align: center;
    padding-top: 50px;
    font-family: "Libre Baskerville", serif;
  }
  h2 {
    font-size: 15px;
    text-align: center;
    font-family: "Libre Baskerville", serif;
  }
  /* nav {
    background-color: #36454f;
    margin: 0 auto;
    max-width: 800px;
  } */
  /* nav ul {
    list-style-type: none;
  } */
  
  /* small view navigation */
  
  
  
  #hamburgerBtn::before {
    content: "☰";
  }
  
  #hamburgerBtn.open::before {
    content: "X";
  }
  #hamburgerBtn {
    font-size: 1.5rem;
    border: 1px solid rgba(0,0,0,.3);
    padding: 3px 7px 6px;
    background-color: #eee;
    color: #000;
     position: absolute;
    top: 5rem;
    right: 2rem;
  }
  
  .primaryNav {
    display: flex;
    flex-direction: column;
    list-style: none;
    background-color: #333;
    color: #fff;
  }
  .primaryNav li {
    display: none;
  }
  .primaryNav li a {
    display: block;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: #fff;
  }
  .primaryNav li a:hover {
    background-color: #bbb;
    color: #333;
    font-weight: 700;
  }
  .primaryNav li a.active {
      font-weight: bold;
      color: #0077FF; 
  }
  
  /* when the button is clicked - the open class is toggle (added/removed) and accounted for here */
  .open li {
    display: block;
    width: 100%;
  }
  .open li a {
    display: block;
  }
  nav {
    max-width: 500px;
    margin: 1rem auto;
  }
  
  
  nav a:hover {
    border: 1px solid #fff;
  }
  
  .active {
    color: burlywood;
  }
  
  main {
      width: 90%;
      margin: 30px
  }
  
  main ul {
    list-style-type: none;
  }
  main p {
    font-size: 15px;
  }
  .line-1 {
    height: 1px;
    background: black;
  }
  
  section.card {
    border-radius: 0.5em;
    box-shadow: 5px 5px 10px #6f7364;
    background-color:#6f7364;
    margin: 20px;
    padding: 30px;
  }
  section.card ul {
    display: flex;
    /* font-size: small; */
  }
  
  section.card2 {
    border-radius: 0.5em;
    box-shadow: 5px 5px 10px #6f7364;
    background-color:#6f7364;
    /* height: 300px; */
    margin: 20px;
    padding: 30px;
  }
  
  #weather-icon {
    width: 70px;
  }
  #current-temp, section.card2 h3 {
    font-size: 1rem;
  }
  
  #lastModified {
    color: royalblue;
  }
  
  footer {
    background-color: darksalmon;
    box-shadow: 5px 5px 10px #6f7364;
    margin-top: 25px;
    text-shadow: 5px 5px 10px #6f7364;
    padding: 25px 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 0.6em;
  }
  
  
  #hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 15px;
  }
  
  #hero-box {
    grid-column: 1/3;
    grid-row: 1;
    z-index: -1;
  }
  .herolabel {
    position: absolute;
    top: 450px;
    right: 90px;
    background: radial-gradient(#fff, #4D5B97);
    border: 1px solid rgba(0,0,0,.75);
    padding: 1.5rem;
    box-shadow: 0 0 3rem #fff;
    opacity: 0.75;
    /* Buenas */
  }
  #hero-box img {
    width: 100%;
  }
  .map {
    justify-content: space-around;
    width: 100%;
  }
  
  #visits {
    color:orange;
    font-weight: bolder;
    font-size: larger;
  }
  .label {
    font-weight: 700;
    color: orange;
    /* background-color: rgba(200, 200, 255, 0.3); */
    
  }
  
  /* #hero-msg {
    grid-column: 1/3;
    grid-row: 1;
    margin-top: 0;
  } */
  /* figure img {
    width: 100%;
    height: auto;
  } */