  body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
  }
  
  h1, h2 {
    font-family: 'Montserrat', sans-serif;
    background-color: rgba(0, 0, 128, 0.089) ;
  }
  
   main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  .card {
    background-color: rgb(199, 191, 184);
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  nav a {
    text-decoration: none;
    color: var(--secondary-color);
    text-align: center;
  }
  
  nav a:hover {
    background-color: blueviolet;
  }
  footer{
    text-align: center;
    color: black;
    margin: auto;
  }
  