@media only screen and (min-width: 64em) {
}
	h1 {
	  font-size: 45px;
	}
	/*img {
	  width: 100%;
	  box-shadow: 5px 5px 10px #6f7364;
	} */
	h2 {
	  font-size: 30px;
	  text-align: center;
	  grid-column: 1/4;
	  margin-top: 50px;
	}
	.line-1 {
	  grid-column: 1/4;
	  grid-row: 2;
	  margin-top: -50px;
	}
	header {
	  /* background-color: darksalmon; */
	  /* display: grid;
	  grid-template-columns: repeat(4, 1fr); */
	  box-shadow: 5px 5px 10px #6f7364;
	  border-radius: 1.2em;
	  text-shadow: 5px 5px 10px #6f7364;
	}
	header {
	  display: grid;
	  
	}
	.headings h1 {
		font-weight:bolder;
		font-size: 2rem;
	}
  
  
	#hamburgerBtn {
	display: none; /* hide hamburger button */
  }
  
  .primaryNav {
	flex-direction: row;
  }
  
  .primaryNav li {
	display: block;
	flex: 1 1 100%;
  }
	footer {
	  background-color: rgb(146, 133, 129);
	  text-shadow: 5px 5px 10px #6f7364;
	  display: flex;
	  border-radius: 1.2em;
	}
  
	nav {
	  display: contents;
	}
  
	main {
	  display: grid;
	  grid-template-columns: repeat(3, 1fr);
	  width: 90%;
	  grid-gap: 50px;
	}
	main h2 {
	  grid-row: 2;
	  justify-content: space-around;
	}
  
	section.card {
	  grid-column: 1/3;
	  grid-row: 3;
	}
	/* section.card ul {
	  display: flex;
	} */
	section.card2 {
	  grid-column: 3/4;
	  grid-row: 3;
	  height: auto;
	}
	#hero {
	  grid-column: 1/4;
	  display: grid;
	  grid-template-columns: 1fr 1fr;
	  margin-top: 15px;
	}
	
	#hero-box {
	  grid-column: 1/3;
	  grid-row: 1;
	  z-index: -1;
	  margin: 0 auto;
	}
	/* #hero-box img {
	  width: 100%;
	} */
	.herolabel {
	  position: absolute;
	  top: 500px;
	  right: 300px;
      
	}